
/* Sk */

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: #2e3131;
    overflow: auto;
    margin: 0px;
}



.header {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: #044F67;
    text-align: center;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
    z-index: 898;
    transform: scale(1.02);
    border: none;
    
}
.welcome-header {
    animation: headerCover 2s, headerShrink 2s ease 2s 1 normal none;
}

.textlogo {
    z-index: 999;
    animation: zoomOutAnfFadeIn 4s ease 0s 1 normal none;
}

.main {
    margin-top: 8rem;
    margin-bottom: 84px;
    z-index: 100;
    position: relative;
    color: #BDC3C7;
}

#myVideo {
    position: absolute;
    top:0px;
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 0.35;
    margin-left: -1rem;
    border-radius: 5px;
    z-index: 1;
}

#myImg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
   object-fit: cover;
   opacity: 0.3;

}

.gif {
    background-image: url("../assets/bg3.gif");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: solid #95a5a6 1px;
    background-color: #044F67;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 901;
    
}

.welcome-fab {
    animation: fadeIn 4s ease 0s 1 normal none;
}

.welcome-fab-item {
    animation: fadeInLast 4s ease 0s 1 normal none;
}

.fab:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}
  
.fab:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.fab > img {
    width: 2rem;
}

.menu {
    position: fixed;
    bottom: 48px;
    right: 48px;
    height: 0px;
    width: 0px;
    color:#BDC3C7;
    z-index: 900;
}



.menu-item > a {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 4;
    padding: 0.5rem;
    margin: 1rem;
    height: 48px;
    width:48px;
    color:#BDC3C7;
    background-color: #044F67;
    font-size: small;
    border:solid #BDC3C7 1px;
    border-radius: 50%;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
    z-index: 901;
    
}


/* .menu>:nth-child(1) {
    position: absolute;
    bottom:-50px;
    right:-50px;
}

.menu>:nth-child(2) {
    position: absolute;
    bottom:-50px;
    right:-50px;
}

.menu>:nth-child(3) {
    position: absolute;
    bottom:-50px;
    right:-50px;
} */

.menu>:nth-child(1) {
    position: absolute;
    bottom:-50px;
    right:100px;
    transition: 0.5s;
    transition-delay: 0s;
}

.menu>:nth-child(2) {
    position: absolute;
    bottom:50px;
    right:50px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.menu>:nth-child(3) {
    position: absolute;
    bottom:100px;
    right:-50px;
    transition: 0.5s;
    transition-delay: 1s;
}

.closed {
    position: absolute;
    bottom: -49px !important;;
    right:-49px !important;
    
}



.menu-link{
    z-index: 900;
}

.open {
    position: fixed;
    height: 0px;
    width: 0px;
}

.card {
    position: relative;
    margin-right: auto;
    margin-left:auto;
    padding: 1rem;
    padding-top: 1rem;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    /* background-color: #03A678; */
}

.grad{
    background: rgb(4,79,103);
    background: linear-gradient(170deg, rgba(4,79,103,1) 26%, rgba(3,166,120,1) 100%);
}

.about{
    width:75%;
    height: 2500px;
    color: #dadfe1;
    padding: 1rem;
}

#gallery{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:85%;
}

.project{
    margin: 1rem;
    width: 90%;
    background-color: #2e3131;
}

.project > a {
    display:block;
    text-decoration: none;
    color: #BDC3C7;
}

.card-title{
    text-align: center;
    
}

.card-text > p{
 margin-top: 1.5rem;
 
}

.form-title{
    text-align: center;
}


.form-title > h3{
    line-height: 0.25;
}

.form-group{
    position: relative;
    text-align: center;
}

.form-group > label, input, textarea {
    margin-right:auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 90%;
    border-radius: 5px;
}

.form-group > label {
    padding: 0rem;
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.form-group > input {
    padding: 0.25rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    border: solid #bdc3c7 1px;
    background-color: #2e3131;
    color: #ffffff;
}

.form-group > textarea {
    padding: 0.25rem;
    margin-top: 0.25rem;
    height: 3rem;
    font-size: 1rem;
    border: solid #bdc3c7 1px;
    background-color: #2e3131;
    color: #ffffff;
}

.warning {
    position: absolute;
    bottom: -1rem;
    color: red;
    font-size: small;
    font-weight: bold;
    margin-left: 1rem;
}

.btn {
    font-size: 1.5rem;
    border-radius: 5px;
    width:200px;
    padding: 1rem;
    border: solid #95a5a6 1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #044F67;
    margin-top: 1rem;
}

.btn:hover {
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.5);
}
  
.btn:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.carousel{
    position: relative;
    /* height: 300px; */
    padding: 2rem;
    z-index: 10;
    
}

.carousel-content{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width:80%;
    height: 100%;

}

.carousel-item{ 
    margin: 1rem;
    width:80%;
    
    background-color: #2e3131;
    display: none;
}

.selected {
    margin-right:auto;
    margin-left:auto;
    
    position:relative;
    display: block;
}

.rnd-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid #95a5a6 1px;
    background-color: #044F67;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.left-btn-elem{
    position: absolute;
    top:50%;
    left:0px;
    
}

.right-btn-elem{
    position: absolute;
    top:50%;
    right:0px;
}

.home{
    position: relative!important;
    max-width: 750px;
}

.home> h2, h3{ 
    z-index:10;
    position:relative;
}

.grecaptcha-badge {
    position: fixed;
    bottom: 24px;
    left: -187px;
    transition: 0.5s;
}

.grecaptcha-badge:hover {
    position: fixed;
    bottom: 24px;
    left: 5px;
    transition: 0.5s;
}

.grecaptcha-badge:active {
    position: fixed;
    bottom: 24px;
    left: 5px;
    transition: 0.5s;
}

.red-outline {
    border: solid 1px red!important;
}

.green-outline {
    border: solid 1px green!important;
}

.hidden {
    display: none!important;
}

#loader{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}

.loader-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.loader-message{
    position: absolute;
    top:50%;
    left:50%;
    color:#67809f;
    font-weight: 900;
    font-size: 82px;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.loader-ring {
    position: absolute;
    top:50%;
    left:50%;
    border: 14px solid #ffffff00; /* Light grey */
    border-top: 14px solid #c0cbd8; /* Blue */
    border-radius: 50%;
    z-index: 75;
}

.r-1{
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.r-2{
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

.r-3{
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}

.r-4{
    width: 150px;
    height: 150px;
    animation: spin 2.5s linear infinite;
}

.r-5{
    width: 180px;
    height: 180px;
    animation: spin 1.5s linear infinite;
}

#modal-dialogue {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.msg-status-cont {
    height: 300px;
    width: 300px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.check {
    height: 100%;
    transform: rotate(45deg);
    animation: poin .6s ease-in-out .3s;
}

.before{
    content: '';
    position: absolute;
    top:69%; left: 22%;
    height: 15%;
    border-radius: 20px; 
    background: #4BB543;
    animation: short .3s ease-in forwards;
  }

.after{   
    content: '';
    position: absolute;  
    top: 84%; left: 52%;
    height: 15%;
    border-radius: 20px;
    background: #4BB543;
    transform: rotate(-90deg);  
    transform-origin:0 0;
    animation: long .3s ease-out .3s forwards;       
  }

.success-message {
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color:rgb(17, 253, 0);
    animation-name: bulge;
    animation-duration: 1s;
    animation-delay: 0.2s;
    font-size: 64px;
    font-weight:900;
    z-index: 350;
  }

  .error-msg {
    position: absolute;
    top:40%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color:rgb(255, 0, 0);
    animation-name: bulge;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    font-size: 64px;
    font-weight:900;
    z-index: 350;
  }
  .error-detail {
    position: absolute;
    top:60%;
    left:50%;
    width: 300px;
    text-align: center;
    transform: translate(-50%,-50%);
    color:rgb(255, 0, 0);
    animation-name: bulge;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    font-size: 24px;
    font-weight:900;
    z-index: 350;
  }

.cross {
    height: 100%;
    transform: rotate(45deg);
}

.top {
    
    position: absolute;
    top:50%; left: 50%;
    border-radius: 20px; 
    height: 10%;
    width:75%;
    background: rgb(150, 0, 20);
    animation-name: grow1;
    animation-duration: .3s;
    transform: translate(-50%,-50%);
    z-index: 300;
}

.bottom {
    position: absolute;
    top:50%; left: 50%;
    border-radius: 20px; 
    height: 10%;
    width:75%;
    background: rgb(150, 0, 20);
    animation-name: grow2;
    animation-duration: .3s;
    transform: translate(-50%,-50%) rotate(90deg);
    z-index: 300;
}

.flex {
    display: flex;
}

.img1 {
    position: absolute;
    width:25%;
}

.space1 {
    height: 1px;
}

.anim-1 {
    margin-top: 10vh;
    margin-bottom: 50vh;
}

.anim-2 {
    margin-top: 50vh;
    margin-bottom: 50vh;}

.anim-3 {
    margin-top: 50vh;
    margin-bottom: 50vh;}

.anim-4 {
    margin-top: 50vh;
    margin-bottom: 50vh;}

.vidText {
    position:absolute;
    top:0px;
    left:0px;
    z-index:999;
}

.vidText > img {
    width: 380px;
    height: auto;
    
}

.vidBG > video{
    position:relative;
    top:5px;
    left:2px;
    width: 375px;
    height: auto;
    z-index:0;
}

@keyframes zoomOutAnfFadeIn {
    
    0% {
        transform: scale(12);
        margin-top: 45vh;
        
    }
    50% {
        transform: scale(1.02);
        margin-top: 45vh;
    }
    100% {
        opacity:100;
        
    }
}

@keyframes headerCover {
    from {padding-bottom: 100vh;}
    to {padding-bottom: 100vh;}
}

@keyframes headerShrink {
    from {padding-bottom: 100vh;}
    to {height: normal;}
}

@keyframes fadeInFromLeft {
    from {
        transform: translateX(-100px);
        opacity:0;
    }
    to {
        transform: translateX(0px);
        opacity:100;
    }
}

@keyframes fadeInFromRight {
    from {
        transform: translateX(100px);
        opacity:0;
    }
    to {
        transform: translateX(0px);
        opacity:100;
    }
    
}

@keyframes fadeIn {
    0% {opacity: 0%;}
    75% {opacity: 0%;}
    100% {opacity: 100%;}
    
}
@keyframes fadeInLast {
    0% {opacity: 0%;}
    99% {opacity: 0%;}
    100% {opacity: 100%;}
    
}

@keyframes grow1 {
    0%{
        width:0px;
        transform: translate(-50%,-50%);
    }
    100%{
        width:200px;
        transform:translate(-50%,-50%)
    }
}

@keyframes grow2 {
    0%{
        width:0px;
        transform: translate(-50%,-50%) rotate(90deg);
    }
    100%{
        width:200px;
        transform:translate(-50%,-50%)rotate(90deg);
    }
}

@keyframes crossBulge{
    0%{transform: scale(1.0) rotate(45deg);}
    50%{transform: scale(1.5) rotate(45deg);}
    100%{transform: scale(1.0) rotate(45deg);}
}


@keyframes bulge{
    0%{transform: translate(-50%,-50%) scale(1.0);}
    50%{transform: translate(-50%,-50%) scale(1.5);}
    100%{transform: translate(-50%,-50%) scale(1.0);}
}

@keyframes poin{
    0%  {transform:rotate(45deg) scale(1)}
    50% {transform:rotate(50deg) scale(1.7)}
    100%{transform:rotate(45deg) scale(1)}  
  }

  @keyframes short{ 
    0%  {width: 0;}
    100%{width: 45%;}  
  }

  @keyframes long{
    0%  {width: 0;}
    100%{width: 75%;}
  } 

  @keyframes checkStart {
    0% { transform:  translate(-20%,-50%) rotate(-45deg) scale(0.2); }
    100% { transform: translate(-20%,-50%) rotate(-45deg) scale(1); }
  }

  @keyframes checkEnd {
    0% { width:0 }
    100% { width:200px }
  }
  @keyframes spin {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }

@media (min-width: 500px) {
    .right-btn-elem{
        margin-right: 0.5rem;
    }
    .left-btn-elem{
        margin-left: 0.5rem;
    }
    .warning{
        margin-left: 2rem;
    }
}

@media (min-width: 760px) {
    .fab{
        top:0.5rem !important;
        
    }
    .menu {
        top:0.5rem !important;
    }

    .menu>:nth-child(1) {
        position: absolute;
        top:75px;
        left:-49px;
        transition: 0.5s;
        transition-delay: 0s;
        z-index: 899;
    }
    
    .menu>:nth-child(2) {
        position: absolute;
        top:165px;
        left:-49px;
        transition: 0.5s;
        transition-delay: 0.5s;
    }
    
    .menu>:nth-child(3) {
        position: absolute;
        top:260px;
        left:-49px;
        transition: 0.5s;
        transition-delay: 1s;
    }

    .closed {
        position: absolute;
        top:-17px !important;
        left:-49px !important;
        
    }

    .menu-title{
        position:absolute;
        top:0.25rem;
        left:2rem;
    }

    .menu-links{
        margin-top: 85px!important;
        border-top: solid black 1px;
    }

    .project{
        margin: 1rem;
        width: 34%;
        background-color: #2e3131;
    }
    .right-btn-elem{
        margin-right: 1rem;
    }
    .left-btn-elem{
        margin-left: 1rem;
    }
    .warning{
        margin-left: 2.5rem;
    }
    .right-btn-elem{
        height:100px;
    }
    .left-btn-elem{
        height:100px;
    }
    
  }

  @media (min-width: 990px) {
    .warning{
        margin-left: 3.5rem;
    }
  }

  @media (min-width: 1200px) {
    .project{
        margin: 1rem;
        width: 20%;
        background-color: #2e3131;
    }

    .right-btn-elem{
        margin-right: 1.5rem;
        
    }
    .left-btn-elem{
        margin-left: 1.5rem;
        
    }
    .warning{
        margin-left: 4rem;
    }
  }
